# デフォルトの無視ファイル
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.TechTrainLineCodeingTest.iml
# データソースのローカルストレージがファイルを無視しました
/../../../../../../../../:\Users\satou_katsumi\RiderProjects\TechTrainLineCodeingTest\.idea\.idea.TechTrainLineCodeingTest\.idea/dataSources/
/dataSources.local.xml
# エディターベースの HTTP クライアントリクエスト
/httpRequests/
